body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: pink;
}

#result {
    width: 200px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-100px;/* half width*/
    margin-top:-10%;/* half height*/
}
